{% extends 'list/base.html' %}

{% block co %}

<h1 class="zag">{{ type }}</h1>
<div class="textures">
{% for texture in textures %}
    {% if texture.type_texter == type %}
    <div class="texture">
        <div class="text"><h2>{{ texture.name_texter }}</h2></div>
        <div class="img"><a href="{{ texture.image.url }}"><img src="{{ texture.url }}" alt=""></a></div>
        <p><a href="{{ texture.url }}" class="ist">Источник текстуры</a></p>
    </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}