{% extends 'generator/base.html' %}
{% block content %}
<h3>Подробная информация</h3>
<div class="info">
<p>Параметр 'Количество символов', задаёт длину случайного пароля (по умолчанию пароль состоит из латинских букв в нижнем регистре).</p>
<p>При выборе радиокнопки 'Верхний регистр', пароль будет генерироваться из латинских букв в верхнем и нижнем регистре.</p>
<p>При выборе радиокнопки 'Цифры', будут добавлены цифры от 0 до 9.</p>
<p>При выборе радиокнопки 'Цифры' будут добавлены символы</p>
</div>

<p><a href="{% url 'home' %}">Вернутся на гланую</a></p>
{% endblock %}